<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /holo/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /holo/index.php [L]
</IfModule>